<html>
		<body>
		<form action = '/result' method = 'POST'>
         <p>Vehicle Reg. No. Part1 : <input type = 'text' name = 'first' placeholder='MH47K'/></p>
         <p>Vehicle Reg. No. Part2 : <input type = 'text' name = 'second' placeholder='4272'/></p>
		 <p><img src="{{imglink}}"/></p>
         <p>Captcha : <input type = 'text' name = 'captcha' value='{{captchaText}}' /></p>
		 <input type="hidden" name="JSESSIONID" value="{{cookies}}">
         <p><input type = 'submit' value = 'submit' /></p>
      </form>
   </body>
</html>
